<style>
  #content-blocks-{{forloop.index0}} .background-color 
  {
  background-color: {{item.colors.background-color}};
  /* border: 40px solid {{item.colors.border-color}}; */
  }


  #content-blocks-{{forloop.index0}} .textarea a {color: {{item.colors.link-color}};}

  #content-blocks-{{forloop.index0}} .textarea a:hover {color: {{item.colors.link-hover-color}};}

  #content-blocks-{{forloop.index0}} .cards .image-last
  {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 500px;
  }

  #content-blocks-{{forloop.index0}} .cards .image
  {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 400px;
  border: solid 2px {{item.colors.card-border-color}};
  }

  #content-blocks-{{forloop.index0}} .cards .textarea 
  {
  margin-top: -5.5rem;
  background-color: {{item.colors.cards-background-color}};
  }

  #content-blocks-{{forloop.index0}} .left-card
  {
  border-top-left-radius: {{item.border-radius.left-card.top-left-corner}};
  border-top-right-radius: {{item.border-radius.left-card.top-right-corner}};
  border-bottom-left-radius: {{item.border-radius.left-card.bottom-left-corner}};
  border-bottom-right-radius: {{item.border-radius.left-card.bottom-right-corner}}; 
  }

  #content-blocks-{{forloop.index0}} .middle-card
  {
  border-top-left-radius: {{item.border-radius.middle-card.top-left-corner}};
  border-top-right-radius: {{item.border-radius.middle-card.top-right-corner}};
  border-bottom-left-radius: {{item.border-radius.middle-card.bottom-left-corner}};
  border-bottom-right-radius: {{item.border-radius.middle-card.bottom-right-corner}}; 
  }

  #content-blocks-{{forloop.index0}} .right-card
  {
  border-top-left-radius: {{item.border-radius.right-card.top-left-corner}};
  border-top-right-radius: {{item.border-radius.right-card.top-right-corner}};
  border-bottom-left-radius: {{item.border-radius.right-card.bottom-left-corner}};
  border-bottom-right-radius: {{item.border-radius.right-card.bottom-right-corner}}; 
  }

  #content-blocks-{{forloop.index0}} .purity-button a
  {
  background-color: {{item.colors.button-color}};
  color: {{item.colors.button-text-color}};
  font-family: {{item.fonts.button-font}};
  /* font-weight: bolder; */
  padding: 0.8rem 2rem 0.6rem;
  border: solid 2px {{item.colors.button-color}};
  border-top-left-radius: {{item.border-radius.button.top-left-corner}};
  border-top-right-radius: {{item.border-radius.button.top-right-corner}};
  border-bottom-left-radius: {{item.border-radius.button.bottom-left-corner}};
  border-bottom-right-radius: {{item.border-radius.button.bottom-right-corner}};
  }

  #content-blocks-{{forloop.index0}} .purity-button a:hover
  {
  color: {{item.colors.button-text-hover-color}};
  background-color: {{item.colors.button-hover-color}};
  border: solid 2px {{item.colors.button-text-hover-color}};
  transition: all 0.5s;
  }

  #content-blocks-{{forloop.index0}} p 
    {
     font-family: {{item.fonts.text-font}}; 
     color: {{item.colors.text-color}}
    }

  #content-blocks-{{forloop.index0}} h1 
  {
  font-size: 7rem;
  color: {{item.colors.heading-color}};
  font-family: {{item.fonts.heading-font}};
  }

  #content-blocks-{{forloop.index0}} h2 
  {
  font-size: 3rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h3 
  {
  font-size: 2.5rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h4 
  {
  font-size: 2rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h5 
  {
  font-size: 1.5rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  #content-blocks-{{forloop.index0}} h6 
  {
  font-size: 1rem;
  color: {{item.colors.subheading-color}};
  font-family: {{item.fonts.subheading-font}};
  }

  @media(max-width: 1100px)
  {
    #content-blocks-{{forloop.index0}} .cards .image
    {
    padding-bottom: 350px;
    }
    #content-blocks-{{forloop.index0}} .desktop-hide
    {display: none;}
  }

  @media(max-width:770px)
  {
    #content-blocks-{{forloop.index0}} h1 
    { font-size: 5rem; margin: 0;}

    #content-blocks-{{forloop.index0}} h2 
    { margin: 0;}

    #content-blocks-{{forloop.index0}} h3 
    { margin: 0;}

    #content-blocks-{{forloop.index0}} h4 
    { margin: 0;}

    #content-blocks-{{forloop.index0}} h5 
    { margin: 0;}

    #content-blocks-{{forloop.index0}} h6 
    { margin: 0;}

    #content-blocks-{{forloop.index0}} .desktop-hide
    {display: inline;}

    #content-blocks-{{forloop.index0}} .background-color 
  {
  /* border: 20px solid {{item.colors.border-color}}; */
  }
  }

  @media(max-width:576px) 
  {
    #content-blocks-{{forloop.index0}} h1 
    {font-size: 3rem; }

    #content-blocks-{{forloop.index0}} h2 
    {font-size: 2.5rem; }

    #content-blocks-{{forloop.index0}} h3 
    {font-size: 2rem;}

    #content-blocks-{{forloop.index0}} h4 
    {font-size: 1.5rem;  }

    #content-blocks-{{forloop.index0}} h5 
    {font-size: 1rem;}

    #content-blocks-{{forloop.index0}} h6 
    {font-size: 0.9rem; }

    #content-blocks-{{forloop.index0}} .desktop-hide
    {display: none;}

    #content-blocks-{{forloop.index0}} .background-color 
    {
    border: 3px solid {{item.colors.border-color}};
    }
  }
</style>

<section id="content-blocks-{{forloop.index0}}">
  <section id="{{item.content-block-link}}" style="background-image: url('{{item.background-image}}');" class="grid-center purity-content-block padded-bottom background-color">
    <div class="col-12 padded-sides">
      {{item.top.textarea_html}}
    </div>
    <div class="col-4_sm-6_xs-12 reveal fade-left grid padded-top cards textarea padded-sides ">
      <div class="col-12 image left-card" style="background-image: url('{{item.left.image}}');"></div>
        <div class="col-11 textarea purity-button padded-s">
          {{item.left.textarea_html}} 
          {{item.left.cta_html}}
        </div>  
      </div>
      <div class="col-4_sm-6_xs-12 reveal fade-up grid-center padded-top cards textarea padded-sides ">
        <div class="col-12 image middle-card" style="background-image: url('{{item.middle.image}}');"></div>
          <div class="col-11 textarea purity-button padded-s">
            {{item.middle.textarea_html}} 
            {{item.middle.cta_html}}
          </div>  
        </div>
        <div class="col-4_sm-6_xs-12 reveal fade-right grid-center  padded-top cards textarea padded-sides ">
          <div class="col-12 image right-card" style="background-image: url('{{item.right.image}}');"></div>
            <div class="col-11 textarea purity-button padded-s">
              {{item.right.textarea_html}} 
              {{item.right.cta_html}}
            </div>  
          </div>
        <div class="col-4_sm-6_xs-12 desktop-hide reveal fade-down grid-middle padded-top cards textarea padded-sides ">
            <div class="col-12 image-last" style="background-image: url('{{item.tablet-image}}');"></div> 
            </div>
    </div>
    </div>
  </section>
</section>