<style>
  #content-blocks-{{forloop.index0}} .background-color 
    {
    background-color: {{item.colors.background-color}};
    border-top: 40px solid {{item.colors.background-border.top-color}};
    border-bottom: 40px solid {{item.colors.background-border.bottom-color}};
    border-left: 40px solid {{item.colors.background-border.left-color}};
    border-right: 40px solid {{item.colors.background-border.right-color}};
    }
  
  #content-blocks-{{forloop.index0}} .carousel img
  {
  max-width: 11rem;
  height: auto;  
  }

  #content-blocks-{{forloop.index0}} .heading-color 
    {color: {{item.colors.heading-color}};}

  #content-blocks-{{forloop.index0}} .heading-font 
    {font-family: {{item.fonts.heading-font}};}
    

  #content-blocks-{{forloop.index0}} .textarea-background-color 
    {background-color: {{item.colors.textarea-background-color}};}

  #content-blocks-{{forloop.index0}} .carousel-border-color
    {
    border: 4px solid {{item.colors.border-color}};
    border-top-left-radius: {{item.border-radius.laptop.top-left-corner}};
    border-top-right-radius: {{item.border-radius.laptop.top-right-corner}};
    border-bottom-left-radius: {{item.border-radius.laptop.bottom-left-corner}};
    border-bottom-right-radius: {{item.border-radius.laptop.bottom-right-corner}};
    }

  #content-blocks-{{forloop.index0}} .text-color 
    {color: {{item.colors.text-color}};}

  #content-blocks-{{forloop.index0}} .text-color a {color: {{item.colors.link-color}};}

  #content-blocks-{{forloop.index0}} .text-color a:hover {color: {{item.colors.link-hover-color}};}

  #content-blocks-{{forloop.index0}} .text-font
    {font-family: {{item.fonts.text-font}};}

  #content-blocks-{{forloop.index0}} .symbols
    {
    color: {{item.colors.name-or-star-rating-color}};
    font-family: {{item.fonts.name-or-star-rating-font}};
    font-size: 1.7rem;
    }

  #content-blocks-{{forloop.index0}} .carousel-subheading-color 
    {color: {{item.colors.subheading-color}};}

  #content-blocks-{{forloop.index0}} .carousel-subheading-font 
    {font-family: {{item.fonts.subheading-font}};}

  #content-blocks-{{forloop.index0}} h1 
   {
   font-size: 3.5rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

  #content-blocks-{{forloop.index0}} h2 
   {
   font-size: 3rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

  #content-blocks-{{forloop.index0}} h3 
   {
   font-size: 2.5rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

  #content-blocks-{{forloop.index0}} h4 
   {
   font-size: 2rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

  #content-blocks-{{forloop.index0}} h5 
   {
   font-size: 1.5rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

  #content-blocks-{{forloop.index0}} h6 
   {
   font-size: 1rem;
   font-family: {{item.fonts.heading-font}};
   color: {{item.colors.heading-color}};
   }

   #content-blocks-{{forloop.index0}} .hero-button
    {
    font-family: {{item.fonts.cta-font}};
    background-color: {{item.colors.cta-color}};
    color: {{item.colors.cta-text-color}};
    font-size: 1.5rem;
    padding: 1% 7%;
    border: solid 2px {{item.colors.cta-text-color}};
    border-top-left-radius: {{item.cta-border-radius.top-left-corner}};
    border-top-right-radius: {{item.cta-border-radius.top-right-corner}};
    border-bottom-left-radius: {{item.cta-border-radius.bottom-left-corner}};
    border-bottom-right-radius: {{item.cta-border-radius.bottom-right-corner}};
    }

  #content-blocks-{{forloop.index0}} .hero-button:hover
    {
    background-color: {{item.colors.cta-background-hover-color}};
    transition: all 0.5s;
    color: {{item.colors.cta-text-hover-color}};
    border: solid 2px {{item.colors.cta-text-hover-color}};
    }

@media(max-width:768px) 
  {
  #content-blocks-{{forloop.index0}} .background-color 
    {
    background-color: {{item.colors.background-color}};
    border-top: 20px solid {{item.colors.background-border.top-color}};
    border-bottom: 20px solid {{item.colors.background-border.bottom-color}};
    border-left: 20px solid {{item.colors.background-border.left-color}};
    border-right: 20px solid {{item.colors.background-border.right-color}};
    }

    #content-blocks-{{forloop.index0}} .carousel-border-color
    {
    border: 4px solid {{item.colors.border-color}};
    border-top-left-radius: {{item.border-radius.tablet.top-left-corner}};
    border-top-right-radius: {{item.border-radius.tablet.top-right-corner}};
    border-bottom-left-radius: {{item.border-radius.tablet.bottom-left-corner}};
    border-bottom-right-radius: {{item.border-radius.tablet.bottom-right-corner}};
    } 
  }

@media(max-width:576px) 
  {

  #content-blocks-{{forloop.index0}} .background-color 
    {
    background-color: {{item.colors.background-color}};
    border-top: 10px solid {{item.colors.background-border.top-color}};
    border-bottom: 10px solid {{item.colors.background-border.bottom-color}};
    border-left: 10px solid {{item.colors.background-border.left-color}};
    border-right: 10px solid {{item.colors.background-border.right-color}};
    }
  #content-blocks-{{forloop.index0}} .carousel-border-color
    {
    border-top-left-radius: {{item.border-radius.mobile.top-left-corner}};
    border-top-right-radius: {{item.border-radius.mobile.top-right-corner}};
    border-bottom-left-radius: {{item.border-radius.mobile.bottom-left-corner}};
    border-bottom-right-radius: {{item.border-radius.mobile.bottom-right-corner}};
    } 

  #content-blocks-{{forloop.index0}} h1 
    {font-size: 3rem;}

  #content-blocks-{{forloop.index0}} h2 
    {
    font-size: 2.5rem; 
    z-index: 1; 
    text-align: left;
    }

  #content-blocks-{{forloop.index0}} h3 
    {font-size: 2rem;}

  #content-blocks-{{forloop.index0}} h4 
    {font-size: 1.5rem;}

  #content-blocks-{{forloop.index0}} h5 
    {font-size: 1rem;}

  #content-blocks-{{forloop.index0}} h6 
    {font-size: 0.9rem;}

  #content-blocks-4 .carousel img {
    max-width: 9rem;
    height: auto;
    margin-top: -8rem;
    margin-right: -8rem
  }

 
</style>

<section id="content-blocks-{{forloop.index0}}">
  <section class="grid-center carousel background-color banner" style="background-image: url('{{item.background_image}}');">
    <div class="col-12 grid-center padded-sides" id="{{item.content-block-link}}">
      <h2 class="heading-color col-9-middle_sm-8_xs-12 center heading-font">{{item.heading}}</h2>
      <img class="col-3_sm-4_xs-12" src="{{item.image}}" alt="">
    </div>
    <div class=" grid col-9_sm-11 padded-sides one-time">
      {% for carousel in item.carousel %}
      <div class="grid-center col-12 radius-leaf carousel-border-color textarea-background-color centered">
        <div class="grid-center padded ">
          <div class = "col-9_sm-10_xs-12 padded text-color text-font ">
            <p class="center carousel-subheading-font carousel-subheading-color"> {{carousel.brand-name}} </p>
            <p class="text-color text-font">{{carousel.textarea_html}} <br />
              <span class="symbols"> {{carousel.name-or-star-rating}} </span>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class= "col-12 grid-center padded-bottom ">
      <a href="{{item.cta-link}}" class="hero-button center">{{item.cta}}</a>
    </div>
  </section>
</section>
