<style>

    #content-blocks-{{forloop.index0}} .multiple-items 
    {
    width: 100px;
    height: 255px;
    object-fit: cover;
    }  

     #content-blocks-{{forloop.index0}} .margin {margin: 17px;}

    #content-blocks-{{forloop.index0}} .save-the-date-btn {
    display: inline-block;
    padding: 0.8rem 2rem 0.6rem;
    background-color: black;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid black;
    transition: all 0.3s ease;
    font-weight: bolder;
  }

  #content-blocks-{{forloop.index0}} .save-the-date-btn:hover {
    background-color: white;
    color: black;
  }

    #content-blocks-{{forloop.index0}} h3 
    {
    color: {{item.colors.subheading-color}};
    font-size: 3rem;
    font-family: {{item.fonts.subheading-font}};
    }
    #content-blocks-{{forloop.index0}} h5 
    {
    color: {{item.colors.subheading-color}};
    font-size: 2rem;
    font-family: {{item.fonts.subheading-font}};
    }

    #content-blocks-{{forloop.index0}} p 
    {
    color: {{item.colors.text-color}};
    font-size: 1rem;
    font-family: {{item.fonts.text-font}};
    }

#content-blocks-{{forloop.index0}} .multiple-items img
    {
    border: black solid 1px;
    }

#content-blocks-{{forloop.index0}} .background-color {background-color: {{item.colors.background-color}};}

        
@media(max-width:768px) 
    {
    #content-blocks-{{forloop.index0}} .multiple-items 
    {
    height: 430px;
    }  
    
    }
</style>
<section id="content-blocks-{{forloop.index0}}" class="center">
    <section id="{{item.content-block-link}}" class=" background-color padded-s grid-center-middle">
<h3>{{item.heading}}</h3>
<section class="col-12 grid image-carousel">
    <div class="col-12 text-center multiple-items">
        {% for carousel in item.carousel %}
      <img class="box-shadow multiple-items" src="{{carousel.add-your-image}}" alt="" />
      {% endfor %}
</section>

<div class="col-12 padded-bottom-s">{{item.textarea_html}}
     <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Main+Launch+Day&dates=20251101T050000Z/20251101T060000Z&details=Save+the+date+for+our+Main+Launch+Event.&location=Online" target="_blank"  class="save-the-date-btn margin">SAVE THE DATE
    </a>
    </section>
</section>