@font-face {
  font-family: "cckjMfIconfont"; /* Project id 2820521 */
  src: url('//at.alicdn.com/t/c/font_2820521_p17x5jss0ai.woff2?t=1756717596890') format('woff2'),
       url('//at.alicdn.com/t/c/font_2820521_p17x5jss0ai.woff?t=1756717596890') format('woff'),
       url('//at.alicdn.com/t/c/font_2820521_p17x5jss0ai.ttf?t=1756717596890') format('truetype'),
       url('//at.alicdn.com/t/c/font_2820521_p17x5jss0ai.svg?t=1756717596890#cckjMfIconfont') format('svg');
}

.cckjMfIconfont {
  font-family: "cckjMfIconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cckj-mf-a-yuyan1:before {
  content: "\e915";
}

.cckj-mf-jihe:before {
  content: "\e613";
}

.cckj-mf-a-caidan2:before {
  content: "\e612";
}

.cckj-mf-a-bianzu2:before {
  content: "\e607";
}

.cckj-mf-quanbufenlei:before {
  content: "\e609";
}

.cckj-mf-a-huaban2:before {
  content: "\e60b";
}

.cckj-mf-Resources:before {
  content: "\e60d";
}

.cckj-mf-huaban:before {
  content: "\e60e";
}

.cckj-mf-a-huaban3:before {
  content: "\e610";
}

.cckj-mf-CJ:before {
  content: "\e611";
}

.cckj-mf-close-circle:before {
  content: "\e6ba";
}

.cckj-mf-yuyan:before {
  content: "\e909";
}

.cckj-mf-cangkushipin:before {
  content: "\e8fc";
}

.cckj-mf-cangkutupian:before {
  content: "\e8f9";
}

.cckj-mf-yingxiaoshipin:before {
  content: "\e8fa";
}

.cckj-mf-yingxiaotupian:before {
  content: "\e8fb";
}

.cckj-mf-gouxuan:before {
  content: "\e907";
}

.cckj-mf-wuliufeixunjia:before {
  content: "\e8f8";
}

.cckj-mf-yishouquan:before {
  content: "\e8f5";
}

.cckj-mf-weishouquan1:before {
  content: "\e8f7";
}

.cckj-mf-jingshi:before {
  content: "\e900";
}

.cckj-mf-gongyingshangshengming:before {
  content: "\e8ff";
}

.cckj-mf-weiyanzheng:before {
  content: "\e8f6";
}

.cckj-mf-xuanzehuobi:before {
  content: "\e8f1";
}

.cckj-mf-guojia:before {
  content: "\e8f4";
}

.cckj-mf-xuanzeyuyan:before {
  content: "\e8f0";
}

.cckj-mf-fuzhi1:before {
  content: "\e60c";
}

.cckj-mf-cangkudizhi:before {
  content: "\e8ef";
}

.cckj-mf-neibuliaotian:before {
  content: "\e8ed";
}

.cckj-mf-whatsapp1:before {
  content: "\e8ee";
}

.cckj-mf-WhatsAPP:before {
  content: "\e8ea";
}

.cckj-mf-ins:before {
  content: "\e8e9";
}

.cckj-mf-douyin:before {
  content: "\e8e7";
}

.cckj-mf-youtube1:before {
  content: "\e8e8";
}

.cckj-mf-zhuanhuan:before {
  content: "\e8f2";
}

.cckj-mf-jiahao1:before {
  content: "\e8f3";
}

.cckj-mf-shangpinshangjia:before {
  content: "\e8e6";
}

.cckj-mf-bofang:before {
  content: "\e8e5";
}

.cckj-mf-ID:before {
  content: "\e8ec";
}

.cckj-mf-gongsi:before {
  content: "\e8eb";
}

.cckj-mf-Twitterxin:before {
  content: "\e8e3";
}

.cckj-mf-Twitterbeijingxin:before {
  content: "\e8e4";
}

.cckj-mf-weixuanze:before {
  content: "\e8e2";
}

.cckj-mf-shuaxin:before {
  content: "\e650";
}

.cckj-mf-a-yirenzhengxiawu43456:before {
  content: "\e7ec";
}

.cckj-mf-xiazai2:before {
  content: "\e72c";
}

.cckj-mf-right:before {
  content: "\e6ad";
}

.cckj-mf-PDF:before {
  content: "\e8df";
}

.cckj-mf-yasuobao:before {
  content: "\e8e0";
}

.cckj-mf-banxuan:before {
  content: "\e8c4";
}

.cckj-mf-yigouxuan1:before {
  content: "\e6fb";
}

.cckj-mf-tuozhuai:before {
  content: "\e8de";
}

.cckj-mf-guanbi:before {
  content: "\e8dc";
}

.cckj-mf-wancheng:before {
  content: "\e8dd";
}

.cckj-mf-yanjing_yincang_o:before {
  content: "\e756";
}

.cckj-mf-yanjing_xianshi_o:before {
  content: "\e779";
}

.cckj-mf-gongyingshangdianpu:before {
  content: "\e8db";
}

.cckj-mf-weixin:before {
  content: "\e8da";
}

.cckj-mf-quanbu:before {
  content: "\e8c0";
}

.cckj-mf-quanqiuhuopan:before {
  content: "\e8d9";
}

.cckj-mf-yijiandaifa:before {
  content: "\e8d6";
}

.cckj-mf-fahuo:before {
  content: "\e8d7";
}

.cckj-mf-pinzhi:before {
  content: "\e8d8";
}

.cckj-mf-jiantou:before {
  content: "\e8bf";
}

.cckj-mf-yanzhengkucun:before {
  content: "\e8d5";
}

.cckj-mf-fanhuiyuantu:before {
  content: "\e8c7";
}

.cckj-mf-a-1688kefu:before {
  content: "\e8be";
}

.cckj-mf-bianjitupian:before {
  content: "\e841";
}

.cckj-mf-liulanliang1:before {
  content: "\e8c6";
}

.cckj-mf-TH-rili:before {
  content: "\e8d4";
}

.cckj-mf-MonTH:before {
  content: "\e8d3";
}

.cckj-mf-arrow-right:before {
  content: "\e8bc";
}

.cckj-mf-a-WholesaleOrders:before {
  content: "\e8d1";
}

.cckj-mf-a-OnePieceDropship:before {
  content: "\e8d2";
}

.cckj-mf-Wallet:before {
  content: "\e8cb";
}

.cckj-mf-a-UndeliveredOrders:before {
  content: "\e8cc";
}

.cckj-mf-a-BrowsingHistory:before {
  content: "\e8cd";
}

.cckj-mf-Profile:before {
  content: "\e8ce";
}

.cckj-mf-Orders:before {
  content: "\e8cf";
}

.cckj-mf-Disputes:before {
  content: "\e8d0";
}

.cckj-mf-xiangji1:before {
  content: "\e8c9";
}

.cckj-mf-gouwuche:before {
  content: "\e8ca";
}

.cckj-mf-xiaoxi1:before {
  content: "\e8c8";
}

.cckj-mf-shangpinkapiankandeng:before {
  content: "\e840";
}

.cckj-mf-bangzhuzhongxin:before {
  content: "\e8c5";
}

.cckj-mf-dingzhibaozhuang-QK:before {
  content: "\e83e";
}

.cckj-mf-a-PurchaseList-QK:before {
  content: "\e83f";
}

.cckj-mf-QSgongdan:before {
  content: "\e83d";
}

.cckj-mf-daibanshixiang-QS:before {
  content: "\e83b";
}

.cckj-mf-bangzhuzhongxin-QS:before {
  content: "\e83c";
}

.cckj-mf-tuichu-QS:before {
  content: "\e83a";
}

.cckj-mf-wuliushisuan-QS:before {
  content: "\e839";
}

.cckj-mf-QS-tupian:before {
  content: "\e82d";
}

.cckj-mf-a-zuocedaohangMYQS-QS:before {
  content: "\e830";
}

.cckj-mf-zuocedaohangfuwu-QS:before {
  content: "\e831";
}

.cckj-mf-shipin-QS:before {
  content: "\e832";
}

.cckj-mf-xiazaishipin-QS:before {
  content: "\e834";
}

.cckj-mf-zuocedaohangdingdan-QS:before {
  content: "\e836";
}

.cckj-mf-xinghao-QS:before {
  content: "\e838";
}

.cckj-mf-zuocedaohangshouquandianpu-QS:before {
  content: "\e82b";
}

.cckj-mf-zuocedaohangshangpin-QS:before {
  content: "\e82c";
}

.cckj-mf-xiazaitupian-QS:before {
  content: "\e82a";
}

.cckj-mf-Success:before {
  content: "\e67f";
}

.cckj-mf-Question:before {
  content: "\e684";
}

.cckj-mf-a-MyDesign:before {
  content: "\e8bb";
}

.cckj-mf-Sourcing:before {
  content: "\e8bd";
}

.cckj-mf-lianxigongyingshang:before {
  content: "\e825";
}

.cckj-mf-POD:before {
  content: "\e824";
}

.cckj-mf-QSgouwuche:before {
  content: "\e822";
}

.cckj-mf-xiaoxitixing:before {
  content: "\e821";
}

.cckj-mf-shipingmoshimianxing:before {
  content: "\e820";
}

.cckj-mf-shipingmoshixianxing:before {
  content: "\e823";
}

.cckj-mf-fuzhijianyue:before {
  content: "\e8ba";
}

.cckj-mf-yuan-weixuanzhong:before {
  content: "\e7a9";
}

.cckj-mf-fenxiang:before {
  content: "\e81f";
}

.cckj-mf-fenxiao:before {
  content: "\e81d";
}

.cckj-mf-fangdachakan1:before {
  content: "\e837";
}

.cckj-mf-shangpinkapianyitianjia:before {
  content: "\e835";
}

.cckj-mf-shangpinkapianweitianjia:before {
  content: "\e833";
}

.cckj-mf-shouhoubaozhang:before {
  content: "\e81c";
}

.cckj-mf-tishi2:before {
  content: "\e6ce";
}

.cckj-mf-quantity_sub:before {
  content: "\e7c8";
}

.cckj-mf-quantity_plus:before {
  content: "\e7c9";
}

.cckj-mf-tuijian:before {
  content: "\e85d";
}

.cckj-mf-xiazaitupian:before {
  content: "\e815";
}

.cckj-mf-sheyingqingqiu:before {
  content: "\e819";
}

.cckj-mf-shipinmoshi:before {
  content: "\e81a";
}

.cckj-mf-fangdachakan:before {
  content: "\e81b";
}

.cckj-mf-qiehuanshipin:before {
  content: "\e812";
}

.cckj-mf-jingerenkejian:before {
  content: "\e811";
}

.cckj-mf-xiazaishipin:before {
  content: "\e813";
}

.cckj-mf-kandengshipin:before {
  content: "\e810";
}

.cckj-mf-qiehuantupian:before {
  content: "\e814";
}

.cckj-mf-left:before {
  content: "\e6a8";
}

.cckj-mf-guanbi1:before {
  content: "\e70d";
}

.cckj-mf-gengxindingdan:before {
  content: "\e608";
}

.cckj-mf-a-qk_Importedorders:before {
  content: "\e8b4";
}

.cckj-mf-a-qk_Exportlist:before {
  content: "\e8b5";
}

.cckj-mf-a-qk_OrdersPicking:before {
  content: "\e8b6";
}

.cckj-mf-a-qk_OrdersFulfillment:before {
  content: "\e8b7";
}

.cckj-mf-qk_Disputes:before {
  content: "\e8b8";
}

.cckj-mf-qk_chuangjiandingdan:before {
  content: "\e8b9";
}

.cckj-mf-a-24xiaoshikefu:before {
  content: "\e80c";
}

.cckj-mf-cedaohang-soupin:before {
  content: "\e80b";
}

.cckj-mf-gerenzhongxin-zhuizongdingdan:before {
  content: "\e8ae";
}

.cckj-mf-gerenzhongxin-yunfeishisuan:before {
  content: "\e8af";
}

.cckj-mf-xiaoxizhongxinzhongxin-Blog:before {
  content: "\e8b0";
}

.cckj-mf-gerenzhongxin-fenxiao:before {
  content: "\e8b1";
}

.cckj-mf-xiaoxizhongxin-Elites:before {
  content: "\e8b2";
}

.cckj-mf-gerenzhongxin-liulanjilu:before {
  content: "\e8b3";
}

.cckj-mf-dingbudaohang-leimu:before {
  content: "\e8aa";
}

.cckj-mf-dingbudaohang-wentizhongxin:before {
  content: "\e8ad";
}

.cckj-mf-dingbudaohang-shipingmoshi:before {
  content: "\e8a6";
}

.cckj-mf-dingbudaohang-sousuo:before {
  content: "\e8a7";
}

.cckj-mf-dingbudaohang-xiangji:before {
  content: "\e8a9";
}

.cckj-mf-dingbudaohang-qiangtixing:before {
  content: "\e8ab";
}

.cckj-mf-dingbudaohang-xiaoxitixing:before {
  content: "\e8ac";
}

.cckj-mf-a-daipaisongxuzhifu:before {
  content: "\e82e";
}

.cckj-mf-dailingqu:before {
  content: "\e82f";
}

.cckj-mf-tishi3:before {
  content: "\e745";
}

.cckj-mf-Whatsapp:before {
  content: "\e888";
}

.cckj-mf-linkdln1:before {
  content: "\e887";
}

.cckj-mf-quseTwitter:before {
  content: "\e884";
}

.cckj-mf-quseFACEBOOK:before {
  content: "\e885";
}

.cckj-mf-qusefuzhilianjie:before {
  content: "\e886";
}

.cckj-mf-putongtishi1:before {
  content: "\e768";
}

.cckj-mf-xingzhuangjiehe2:before {
  content: "\e818";
}

.cckj-mf-reply:before {
  content: "\e6a9";
}

.cckj-mf-putongtishi:before {
  content: "\e89f";
}

.cckj-mf-cuowutishi:before {
  content: "\e8a0";
}

.cckj-mf-chenggongtishi:before {
  content: "\e8a1";
}

.cckj-mf-duihao:before {
  content: "\e661";
}

.cckj-mf-gengxin1:before {
  content: "\e635";
}

.cckj-mf-xiandianzan:before {
  content: "\e870";
}

.cckj-mf-shanchu1:before {
  content: "\e78e";
}

.cckj-mf-gengduo:before {
  content: "\e704";
}

.cckj-mf-xiazai:before {
  content: "\e869";
}

.cckj-mf-bofangzhong:before {
  content: "\e86a";
}

.cckj-mf-goumai:before {
  content: "\e86b";
}

.cckj-mf-dianzan:before {
  content: "\e867";
}

.cckj-mf-pinglun:before {
  content: "\e864";
}

.cckj-mf-zhuanfa:before {
  content: "\e865";
}

.cckj-mf-shoucang:before {
  content: "\e866";
}

.cckj-mf-shipinxuanpin:before {
  content: "\e863";
}

.cckj-mf-shopifyshezhi:before {
  content: "\e625";
}

.cckj-mf-fenxiaoicon:before {
  content: "\e81e";
}

.cckj-mf-shezhi:before {
  content: "\e855";
}

.cckj-mf-shejijiage:before {
  content: "\e854";
}

.cckj-mf-Facebook1:before {
  content: "\e850";
}

.cckj-mf-youtube:before {
  content: "\e851";
}

.cckj-mf-Link:before {
  content: "\e852";
}

.cckj-mf-tiktok:before {
  content: "\e853";
}

.cckj-mf-bianzubeifen:before {
  content: "\e84f";
}

.cckj-mf-chuangjianlianjie:before {
  content: "\e84a";
}

.cckj-mf-kaishituiguang:before {
  content: "\e84b";
}

.cckj-mf-xiayibu:before {
  content: "\e84d";
}

.cckj-mf-zhanghaoshouquan:before {
  content: "\e84e";
}

.cckj-mf-daibukuandingdan1:before {
  content: "\e7e5";
}

.cckj-mf-daichuligongdantishi:before {
  content: "\e817";
}

.cckj-mf-dianpushouquan:before {
  content: "\e816";
}

.cckj-mf-gongdan1:before {
  content: "\e80a";
}

.cckj-mf-jinridaiban1:before {
  content: "\e808";
}

.cckj-mf-zhichizhongxin:before {
  content: "\e809";
}

.cckj-mf-tuite:before {
  content: "\e6bd";
}

.cckj-mf-Facebook:before {
  content: "\e6c1";
}

.cckj-mf-instagram:before {
  content: "\e6c2";
}

.cckj-mf-linkdln:before {
  content: "\e6c3";
}

.cckj-mf-pinterest:before {
  content: "\e6c4";
}

.cckj-mf-whatsapp:before {
  content: "\e77c";
}

.cckj-mf-youtobe:before {
  content: "\e77d";
}

.cckj-mf-jinridaiban:before {
  content: "\e807";
}

.cckj-mf-Conversation:before {
  content: "\e7f9";
}

.cckj-mf-xingzhuang:before {
  content: "\e781";
}

.cckj-mf-cntoen:before {
  content: "\e739";
}

.cckj-mf-entocn:before {
  content: "\e736";
}

.cckj-mf-tixing_2:before {
  content: "\e6d0";
}

.cckj-mf-sousuogengduo:before {
  content: "\e737";
}

.cckj-mf-kandengshangjia:before {
  content: "\e738";
}

.cckj-mf-daifadangouwuchecu:before {
  content: "\e688";
}

.cckj-mf-shouyesousuo:before {
  content: "\e72e";
}

.cckj-mf-xiangji:before {
  content: "\e72d";
}

.cckj-mf-logo1:before {
  content: "\e6b8";
}

.cckj-mf-lujing1:before {
  content: "\e6fa";
}

.cckj-mf-kandengicon:before {
  content: "\e66e";
}

.cckj-mf-app:before {
  content: "\e6f2";
}

.cckj-mf-OurServices:before {
  content: "\e6f3";
}

.cckj-mf-Fulfillment:before {
  content: "\e6f4";
}

.cckj-mf-ProService:before {
  content: "\e6f5";
}

.cckj-mf-Warehousing:before {
  content: "\e6f6";
}

.cckj-mf-Shipping:before {
  content: "\e6f7";
}

.cckj-mf-xiangxiashuangjiantou:before {
  content: "\e77b";
}

.cckj-mf-bianzu21:before {
  content: "\e72b";
}

.cckj-mf-tianjiashoucangzhihou:before {
  content: "\e681";
}

.cckj-mf-tianjiashoucang:before {
  content: "\e683";
}

.cckj-mf-mianyoumoren:before {
  content: "\e796";
}

.cckj-mf-siyoukucunmoren:before {
  content: "\e797";
}

.cckj-mf-podmoren:before {
  content: "\e798";
}

.cckj-mf-shipinda:before {
  content: "\e6b5";
}

.cckj-mf-lujing:before {
  content: "\e60f";
}

.cckj-mf-zuo:before {
  content: "\e72a";
}

.cckj-mf-lujingbeifen2:before {
  content: "\e729";
}

.cckj-mf-bianzu41:before {
  content: "\e723";
}

.cckj-mf-bianzu62:before {
  content: "\e725";
}

.cckj-mf-bianzu82:before {
  content: "\e726";
}

.cckj-mf-bianzu32:before {
  content: "\e727";
}

.cckj-mf-bianzu71:before {
  content: "\e728";
}

.cckj-mf-bianzu51:before {
  content: "\e720";
}

.cckj-mf-xiangxia-copy:before {
  content: "\e8e1";
}

.cckj-mf-xiangxia:before {
  content: "\e616";
}

.cckj-mf-cebianlan-fan:before {
  content: "\e604";
}

.cckj-mf-cebianlan-zuo:before {
  content: "\e60a";
}

.cckj-mf-elites:before {
  content: "\e63a";
}

.cckj-mf-ticket:before {
  content: "\e641";
}

.cckj-mf-tutorial:before {
  content: "\e645";
}

.cckj-mf-xiaoxi:before {
  content: "\e67c";
}

.cckj-mf-shang1:before {
  content: "\e6e1";
}

.cckj-mf-xia2:before {
  content: "\e6e2";
}

.cckj-mf-boke:before {
  content: "\e6eb";
}

.cckj-mf-wuliu:before {
  content: "\e714";
}

.cckj-mf-tuichu:before {
  content: "\e715";
}

.cckj-mf-gongyingshangpingjia:before {
  content: "\e716";
}

.cckj-mf-gerenzhongxin:before {
  content: "\e717";
}

.cckj-mf-zhanghu:before {
  content: "\e722";
}

.cckj-mf-zizhanghu:before {
  content: "\e724";
}

.cckj-mf-jiantou_you:before {
  content: "\e772";
}

