.product-detail-page {
  padding: 10px;
  background-color: #fff;
}
.recommend-product-page {
  padding: 20px 12px;
  background-color: #fff;
}
.recommend-product-page .recommend-product-page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 28px;
  margin-bottom: 22px;
}
.recommend-product-page .recommend-product-page-title .recommend-product-page-icon {
  width: 24px;
  margin-right: 12px;
}
.recommend-product-page .recommend-product-page-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1436px;
  margin: 0 auto;
  min-width: 1196px;
}
.recommend-product-page .recommend-product-page-content .recommend-product-page-content-item {
  width: calc(16.666% - 16px);
  margin: 0 8px;
}
.recommend-product-page .recommend-product-page-content .recommend-product-page-content-item .product-card {
  width: 100%;
}
.recommend-product-page .recommend-product-page-more-btn-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.recommend-product-page .recommend-product-page-more-btn-box .recommend-product-page-more-btn {
  padding: 0 12px;
  border: 1px solid var(--color-theme-1);
  font-size: 14px;
  color: var(--color-theme-1);
  line-height: 38px;
  cursor: pointer;
  width: 385px;
  border-radius: 2px;
  text-align: center;
}
.recommend-product-page .recommend-product-page-more-btn-box .recommend-product-page-more-btn .iconfont {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-left: 4px;
}
.recommend-product-page .recommend-product-page-more-btn-box .recommend-product-page-more-btn:hover {
  background-color: var(--color-theme-1);
  color: #fff;
  border-color: var(--color-theme-1);
}
.recommend-product-page .recommend-product-page-load-box {
  height: 64px;
}
