/**
 * 响应式设计工具文件
 * 提供便捷的混入和工具类来简化响应式开发
 */
:root {
  --root-fs: 16;
}
@media (min-width: 700px) {
  :root {
    --root-fs: 30;
  }
}
@media (min-width: 675px) and (max-width: 699px) {
  :root {
    --root-fs: 28;
  }
}
@media (min-width: 650px) and (max-width: 674px) {
  :root {
    --root-fs: 27;
  }
}
@media (min-width: 625px) and (max-width: 649px) {
  :root {
    --root-fs: 26;
  }
}
@media (min-width: 600px) and (max-width: 624px) {
  :root {
    --root-fs: 25;
  }
}
@media (min-width: 575px) and (max-width: 599px) {
  :root {
    --root-fs: 24;
  }
}
@media (min-width: 550px) and (max-width: 574px) {
  :root {
    --root-fs: 23;
  }
}
@media (min-width: 525px) and (max-width: 549px) {
  :root {
    --root-fs: 22;
  }
}
@media (min-width: 500px) and (max-width: 524px) {
  :root {
    --root-fs: 21;
  }
}
@media (min-width: 475px) and (max-width: 499px) {
  :root {
    --root-fs: 20;
  }
}
@media (min-width: 450px) and (max-width: 474px) {
  :root {
    --root-fs: 19;
  }
}
@media (min-width: 425px) and (max-width: 449px) {
  :root {
    --root-fs: 18;
  }
}
@media (min-width: 400px) and (max-width: 424px) {
  :root {
    --root-fs: 17;
  }
}
@media (min-width: 375px) and (max-width: 399px) {
  :root {
    --root-fs: 16;
  }
}
@media (min-width: 350px) and (max-width: 374px) {
  :root {
    --root-fs: 15;
  }
}
@media (min-width: 325px) and (max-width: 349px) {
  :root {
    --root-fs: 14;
  }
}
@media (min-width: 300px) and (max-width: 324px) {
  :root {
    --root-fs: 13;
  }
}
@media (min-width: 275px) and (max-width: 299px) {
  :root {
    --root-fs: 12;
  }
}
@media (min-width: 250px) and (max-width: 274px) {
  :root {
    --root-fs: 11;
  }
}
@media (max-width: 249px) {
  :root {
    --root-fs: 11;
  }
}
.product-card {
  width: 187.5px;
  height: 279px;
  margin-left: 11.8px;
  margin-bottom: 24.5px;
}
.product-card:nth-of-type(6n + 1) {
  margin-left: 0;
}
.product-card .product-image {
  width: 100%;
  /* height: 100%; */
}
.product-card .product-image img {
  width: 100%;
  border-radius: 8px;
}
.product-card .product-title {
  color: #333;
  font-size: 13px;
  min-height: 40px;
  max-height: 40px;
  line-height: 20px;
  /* 显示两行，省略号 */
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 4px;
  font-family: PingFangSC, PingFang SC;
}
.product-card .product-title h3 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.product-card .wrapper-list-and-price {
  margin-top: 3px;
}
.product-card .wrapper-list-and-price .product-list {
  font-size: 12px;
}
.product-card .wrapper-list-and-price .product-list .product-list-label {
  color: #999;
}
.product-card .wrapper-list-and-price .product-list .product-list-value {
  color: #333;
}
.product-card .wrapper-list-and-price .product-price-and-inventory {
  margin-top: 6px;
}
.product-card .wrapper-list-and-price .product-price-and-inventory .sellPrice {
  font-size: 16px;
  color: #333;
}
.product-card .wrapper-list-and-price .product-price-and-inventory .originPrice {
  margin-left: 0;
  color: #999;
  font-size: 12px;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .product-card {
    width: 100%;
    margin-left: 0;
  }
  .simpleStyle {
    height: max-content;
  }
}
@media (max-width: 700px) {
  .product-card {
    width: calc(154 / 16 * var(--root-fs) * 1px);
    height: calc(254 / 16 * var(--root-fs) * 1px);
    margin-left: 0;
  }
  .product-card .product-image img {
    border-radius: calc(8 / 16 * var(--root-fs) * 1px);
  }
  .simpleStyle {
    height: calc(232 / 16 * var(--root-fs) * 1px);
  }
}
.skeleton-wrapper.noCompleted {
  line-height: 1;
}
.product-card.noCompleted {
  position: relative;
  line-height: 1;
}
.product-card.simpleStyle {
  margin-bottom: 0;
}
.product-card.simpleStyle .product-info .product-title {
  line-height: 18px !important;
  max-height: 18px !important;
  min-height: 18px !important;
  text-align: center;
  /* 显示一行，省略号 */
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.product-card.simpleStyle .product-list-and-tags {
  display: none;
}
.product-card.simpleStyle .product-price-and-inventory {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes product-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.product-card .skeleton-elem {
  animation: product-skeleton-loading 1.4s ease infinite;
  background-image: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-position: 100% 50%;
  background-size: 400% 100%;
  height: 0.8rem;
  list-style: none;
  width: 100%;
}
